body{
    height: 98vh;
    background-color: rgba(243, 243, 9, 0.719);
}
main{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    max-width: 900px;
    min-height: 600px;
    margin: auto;
    padding: 15px;
    text-align: center;
}